myprivatefile.txt


---------
| Local |
---------

---------
| Local |
---------

---------
| Local |
---------


--------
Remote
--------

- commit
- push
- pull/fetch

local -> commit -> local git -> push

remote -> pull -> local git checkout -> local